/*TEMPLATE Début*/

@font-face {
	font-family: 'ChampagneEtLimousine';
	src: url('font//Champagne & Limousines.ttf');
  }
  
  @font-face {
	font-family: 'Oliciy';
	src: url('font//Oliciy.ttf');
  }
  
  @font-face {
	font-family: 'GeosansLight';
	src: url('font//GeosansLight.ttf');
  }

@font-face{
	font-family:'Louis George Cafe';
	src:url('font//Louis George Cafe.ttf');
}

/*NAVBAR début*/
.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
	margin-bottom:0px !important;
  }
  @media (min-width: 768px){
	.navbar {
		border-radius: 0px !important;
	}
	.navbar-item{
		margin-top:10px;
		margin-right:3vw;
	}
	.first-item{
		margin-left:2vw;
	}
	.logo{
		margin-left:0.25vw;
	}

}
@media (min-width: 951px){
	.navbar {
		border-radius: 0px !important;
	}
	.navbar-item{
		margin-top:10px;
		margin-right:5vw;
	}
	.first-item{
		margin-left:2vw;
	}
	.logo{
		margin-left:0.25vw;
	}

}
@media (min-width:1500px){
	.last-item{
		margin-left:30%;
		margin-right: 0px;
	}

}
@media (min-width:1600px){
	.last-item{
		margin-left:35%;
		margin-right: 0px;
	}

}
@media (min-width:1900px){
	.last-item{
		margin-left:43%;
		margin-right: 0px;
	}

}
.icone{
	width: 40px;
}

a{
	color:white;
}
a:hover{
	color:white;
}
.reservation a:hover{
	color:white;
	text-decoration: none;
}
.navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	margin-top:0;
	line-height: 40px;
	color: white;
	text-decoration: none;
	font-size: 19px;
	transition-duration: 0.4s;
}



  .navbar a:hover {
	background-color: #00561B;
  }

  .active {
	background-color: #00561B;
  }
  

  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
  }
/*NAVBAR fin*/

footer{
	width:100% ;
	background-color:#727070 ;
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: medium;
	font-family: 'GeosansLight';
}

.lien{
	color:aqua;
}
.lien:hover{
	color:aquamarine;
}

/*Template fin*/

* {
	box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
	position: relative;
	width:100%;
	margin-left:0px;
	margin-right:0px !important;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 375px;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 55%;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  .row{
	  width:100%;
	  float: left;
	  margin-left:15px;
  }
  .row:after {
	content: "";

	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	width: 23.39%;
	display:inline-block;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }

  .firstSlide{
	  display:block;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  .ImageChambre{
	  width:35%;
	  float:left;
	  margin-left:10%;
  }

  .description{
	  width:55%;
	  margin-left:10.5%;
	  font-size: 17px;
	  text-align: justify;
	  font-family: 'Louis George Cafe';
  }
  .description h2{
	  margin-top:0;
  }
  h1{
	  margin:30px;
	  margin-left:6%;
  }
  #gras{
	  font-weight: bold;
  }

  .reservation{
	top: 15%;
	left:70%;
	position: sticky;
	display:inline-block;
	border:1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	
  }
  .reservation p{
	  font-size: 50px;
  }

  @media screen and (max-width:1670px){
	.reservation{
		display: inline-block;
		position:relative;
		top:0;
		left:0;
		margin-left:150px;
	}
	.reservation p{
		font-size: 35px;
	}
	.bouton-reservation{
		display:block;
		padding : 8px 16px;
		font-size: 8px;
		margin:auto;
		margin-top:10px;
	}
	.description{
		width:80%;
	}
	.caracteristique ul{
		width:150px;
	}
	.localisation iframe{
		margin-left:10.5% !important;
		width:80% !important;
	}
	table{
		width:80% !important;
	}
}
@media screen and (max-width:904px){
	.reservation{
		margin-left:35%;
		margin-bottom:30px;
		margin-top:10px;
	}
	.caracteristique ul{
		margin-left:50px;
		width:180px;
	}
}

@media screen and (max-width:571px){
	.reservation{
		margin-left:25%;
		margin-top:30px;
		margin-bottom:30px;
	}
	.ImageChambre{
		width:42%;
	}
	.caracteristique ul{
		margin-left:50px;
		width:150px;
	}
	.description{
		width:80%;
	}
	.localisation iframe{
		margin-left:10.5% !important;
		width:80% !important;
	}
	th{
		font-size: 12px !important;
	}
	td{
		font-size:9px !important;
	}

}


  .bouton-reservation {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: 0.4s;
  }


  
  .bouton-reservation:hover {
	background-color: #226b24; /* Green */
	color: white;
  }

  .caracteristique{
	  display:inline-block;
	  width:10%;
	  font-size:20px;
	  font-family: 'Louis George Cafe';
	
  }
  .caracteristique ul{
	  padding-left:15px;
	  list-style-type:'✓ ';
	  
  }
  ul li::marker{
	  color:#4CAF50;
  }

  table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
th{
	font-size: 25px;
}
td,th{
	text-align:center;
	padding:10px;
}

table{
	margin-left:10.5%;
	width:55%;
}

#jours{
	background-color: gray;
}

#libre{
	background-color: #4CAF50;
}
#occupe{
	background-color: red;
}
h2{
	margin-left:10.5%;
}
.localisation iframe{
	margin-left:10.5% !important;
	width:55%;
}

h1,h2,h3{
	font-family: 'Oliciy';
}
.dispo h2{
	margin-top:30px;
	margin-bottom:30px;
}
