/*TEMPLATE Début*/


@font-face {
  font-family: 'ChampagneEtLimousine';
  src: url('font//Champagne & Limousines.ttf');
}

@font-face {
	font-family: 'GeosansLight';
	src: url('font//GeosansLight.ttf');
  }

  @font-face {
	font-family: 'Oliciy';
	src: url('font//Oliciy.ttf');
  }

/*NAVBAR début*/
.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
	margin-bottom:0px !important;
  }

	.navbar-item{
		margin-top:10px;
		margin-right:5vw;
	}
	.first-item{
		margin-left:2vw;
	}
	.logo{
		margin-left:0.25vw;
	}


.icone{
	width: 40px;}

  .navbar a {
	float: left;
	text-align: center;
		margin-top:0;
	line-height: 40px;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 19px;
	transition-duration: 0.4s;
  }

  .navbar a:hover {
	background-color: #00561B;
  }

  .active {
	background-color: #00561B;
  }

/*NAVBAR fin*/

/*millieu*/

h1{text-align:center;
	padding-top: 10px;
	font-family: Oliciy;}

h2{text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Oliciy;}

h3{font-size:30px;
	text-align: center;}

p{font-size:20px;
	text-align: center;}


.row{padding-left:5vw;
	padding-right:5vw;}

.image img{width: 50%;
		margin-left:25%}

.alignement{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;}

.box{width: 33%;}
		  


/*millieu fin*/

/*footer*/
footer{
	width:100% ;
	background-color:#727070 ;
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: medium;
	font-family: 'GeosansLight';
}

.lien{
	color:aqua;
}
.lien:hover{
	color:aquamarine;
}

/*footer fin*/

@media (min-width:1900px){
	.last-item{
		margin-left:43%;
		margin-right: 0px;
	}

}

@media (max-width: 900px){
	.alignement{display: block;}
	.box{width: 100%;
		 padding-bottom:50px;}
}


@media (min-width: 768px){
	.navbar {
		border-radius: 0px !important;
	}
}
	
@media screen and (max-width: 990px) {
	.image{width: 100%;}
}

@media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
}