@font-face {
  font-family: 'ChampagneEtLimousine';
  src: url('font//Champagne & Limousines.ttf');
}

@font-face {
  font-family: 'Oliciy';
  src: url('font//Oliciy.ttf');
}

@font-face {
  font-family: 'Geo';
  src: url('font//GeosansLight.ttf');
}

/*NAVBAR début*/
.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
	margin-bottom:0px !important;}

.icone{
	width: 40px;}

  .navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	margin-top:0;
	line-height: 40px;
	color: white;
	text-decoration: none;
	font-size: 19px;
	transition-duration: 0.4s;}



  .navbar a:hover {
	background-color: #00561B;}

  .active {
	background-color: #00561B;}
  


/*NAVBAR fin*/


/*barre latéral*/
nav{background-color: #D3D3D3;
	padding: 1vw;}


li{font-size: 20px;
	list-style: none;}

.left{float: left;
	padding-right:3vw;}

.sidenav {
	width: 15vw;
	top: 0;
	left: 0;
	overflow-x: hidden;
	float:left;
	height: 950px;}

.sidenav a {
  padding-top:15px;
  padding-left:1vw;
  padding-right:2vw;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition-duration: 0.3s}

.sidenav a:hover {
  color: #f1f1f1;}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;}
/*barre latéral fin*/


/*liste de produit*/
.right{float:right;}

.aligne{align-items: start;
		float:right;}

.produit{
	     padding-bottom: 7vw;
		 margin-bottom:30px;
		 margin-right: 2vw;
	     border:solid;
	     border-radius:25px;
		 border-width: 1px;}

.produit img{float:left;
			 width: 200px;
			border-radius: 20%}

.produit p{font-family:Geo; 
			font-size:20px;}

.produit h2{font-family: Oliciy;}

.col-xs-2{background-color: #D3D3D3;
		height:100%}



.acheter{float:right;
		border:solid;
		margin-right:2vw;
		margin-top:2vw;
		border-radius:25px;
		border-width: 0px;
		background-color: #017c28;
		height:50px;
		width: 200px;
		transition-duration: 0.4s}

.acheter:hover{background-color:#FFB100;}


.acheter img{width:50px;
			 margin-left: 75px;}

.medaille img{width: 100px;
			  margin-left:3vw;}

.prix{float:right;
	  color:red;
	  margin-right:3vw;}
/*liste de produit fin*/




/*footer*/
	  footer{
		width:100% ;
		background-color:#727070 ;
		text-align: center;
		padding-top: 1vw;
		padding-bottom: 1vw;
		font-size: medium;
		font-family: 'GeosansLight';
	}
	
	.lien{
		color:aqua;
	}
	.lien:hover{
		color:aquamarine;
	}
	
/*footer fin*/



/*responsive*/
@media (min-width:1900px){
	.last-item{
	   margin-left:43%;
	   margin-right: 0px !important;
	}
}

@media (max-width: 1400px){
	.acheter img{width:50px !important;}
	.produit img{width: 14vw;}
	.medaille img{width: 7vw;}
}

@media (max-width: 1050px){
.produit img{width: 150px;}
.medaille img{width: 7vw;}
}

@media (min-width: 768px){

	.navbar {
		border-radius: 0px !important;
	}
	.navbar-item{
		margin-top:10px;
		margin-right:5vw;
	}
	.first-item{
		margin-left:2vw;
	}
	.logo{
		margin-left:0.25vw;
	}
}

@media screen and (max-width: 750px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 13px;}
	.medaille{width:50vw;}
	.medaille img{width: 50px;
				  float:left;}
	
  }

  @media screen and (max-width: 600px) {
  .acheter{width:130px;}
   .acheter img{margin-left:40px;}
  }

@media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
	
}

/*responsive fin */
#test {
	top: 0;
	position: sticky;
}

